#tableWrapper {
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    padding: 10px;
    word-break: break-all;
}

th {
    background-color: #5c6b98;
    text-transform: uppercase;
    font-size: smaller;
    color: white;
    position: relative;
    cursor: pointer;
    word-break: break-all;
}

.darkRow {
    background-color: #e7ebf1;
}

.sortBy {
    position: relative;
    padding: 10px;
    padding-right: 20px;
    text-align: left;
}

.resizeHandle {
    position: absolute;
    top: 0;
    right: -3px;
    width: 6px;
    height: 100%;
    cursor: col-resize;
    /*background-color: red;*/
    z-index: 1;
}

.sortBy:before,
.sortBy:after {
	border: 5px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 6px;
	top: 50%;
	position: absolute;
    width: 0;
}

.sortBy:before {
	border-bottom-color: #0e193a;
	margin-top: -11px;
}

.sortBy:after {
	border-top-color: #0e193a;
	margin-top: 2px;
}

.sortBy.sortedDesc:before {
	border-bottom-color: white;
	margin-top: -11px;
}

.sortBy.sortedAsc:after {
	border-top-color: white;
	margin-top: 2px;
}

#loader {
    margin: 20px;
    text-align: center;
    color: grey;
    text-transform: uppercase;
    font-size: smaller;
}
