.App-header {
    width: 100%;
    height: 50px;
    background-color: #20242B;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.App-header h1 {
    font-size: 1.5em !important;
}

.App-body {
    width: 100%;
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-content-wrapper {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}