.App {
    display: flex;
    flex-direction: column;
}

.App-header {
    width: 100%;
    height: 50px;
    background-color: #20242B;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-header h1 {
    font-size: 1.5em !important;
}

.App-body {
    width: 90%;
    margin: 30px auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}