table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    word-break: break-all;
}

th {
    background-color: #d4dfff;
    text-transform: uppercase;
    font-size: smaller;
    position: relative;
    padding-right: 30px;
    cursor: pointer;
}

.darkRow {
    background-color: #F4F7FC;
}

.sortBy:before,
.sortBy:after {
	border: 5px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
    width: 0;
}
.sortBy:before {
	border-bottom-color: #959595;
	margin-top: -11px;
}
.sortBy:after {
	border-top-color: #959595;
	margin-top: 2px;
}

.sortBy.sortedDesc:before {
	border-bottom-color: #1e4dd6;
	margin-top: -11px;
}
.sortBy.sortedAsc:after {
	border-top-color: #1e4dd6;
	margin-top: 2px;
}

