#tableWrapper {
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

td {
    padding: 5px;
    word-break: break-all;
}

th {
    background-color: #d4dfff;
    text-transform: uppercase;
    font-size: smaller;
    position: relative;
    cursor: pointer;
    word-break: break-all;
}

.darkRow {
    background-color: #F4F7FC;
}

.sortBy {
    position: relative;
    padding: 10px;
    padding-right: 20px;
    text-align: left;
}

.resizeHandle {
    position: absolute;
    top: 0;
    right: -3px;
    width: 6px;
    height: 100%;
    cursor: col-resize;
    /*background-color: red;*/
    z-index: 1;
}

.sortBy:before,
.sortBy:after {
	border: 5px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
    width: 0;
}

.sortBy:before {
	border-bottom-color: #959595;
	margin-top: -11px;
}

.sortBy:after {
	border-top-color: #959595;
	margin-top: 2px;
}

.sortBy.sortedDesc:before {
	border-bottom-color: #1e4dd6;
	margin-top: -11px;
}

.sortBy.sortedAsc:after {
	border-top-color: #1e4dd6;
	margin-top: 2px;
}

#loader {
    margin: 20px;
    text-align: center;
    color: grey;
    text-transform: uppercase;
    font-size: smaller;
}
